<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fouryears20170621052116.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fouryears20170621052116.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FourYears20170621052116</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FourYears20170621052116</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="superuniversityEntities3" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FourYears.Areas.JobArea.Models.superuniversityEntities3, FourYears" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="superuniversityEntities2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FourYears.Areas.FoodMapArea.Models.superuniversityEntities2, FourYears" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="superuniversityEntities4" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FourYears.Areas.BookStoreAreas.Models.superuniversityEntities4, FourYears" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="superuniversityEntities1" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=superuniversityfoodmap.database.windows.net;Initial Catalog=superuniversity;User ID=mist114;Password=P@ssw0rd;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\superuniversityEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Areas.JobArea.Models.Model1.csdl|res://*/Areas.JobArea.Models.Model1.ssdl|res://*/Areas.JobArea.Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=superuniversityfoodmap.database.windows.net;initial catalog=superuniversity;user id=mist114;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="superuniversityEntities5" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:fouryears.database.windows.net,1433;Initial Catalog=superuniversity;Persist Security Info=False;User ID=msit114;Password=P@ssw0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\superuniversityEntities5_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:fouryears.database.windows.net,1433;Initial Catalog=superuniversity;Persist Security Info=False;User ID=msit114;Password=P@ssw0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="superuniversityEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=superuniversityfoodmap.database.windows.net;Initial Catalog=superuniversity;User ID=mist114;Password=P@ssw0rd;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\superuniversityEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Areas.FoodMapArea.Models.FoodMapModel.csdl|res://*/Areas.FoodMapArea.Models.FoodMapModel.ssdl|res://*/Areas.FoodMapArea.Models.FoodMapModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=superuniversityfoodmap.database.windows.net;initial catalog=superuniversity;user id=mist114;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FourYears-20170615091625.mdf;Initial Catalog=aspnet-FourYears-20170615091625;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FourYears-20170615091625.mdf;Initial Catalog=aspnet-FourYears-20170615091625;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="newsuperuniversityEntities" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FourYears.Models.ApplicationDbContext, FourYears" MigrationConfiguration="FourYears.Migrations.Configuration, FourYears" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)newsuperuniversityEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)superuniversityEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)superuniversityEntities3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)superuniversityEntities4-Web.config Connection String" />
  </ItemGroup>
</Project>